[Interface]
Address = {{ wireguard_address }}
PrivateKey = {{ wireguard_private_key }}

[Peer]
PublicKey = iHTki2ltm2yP5idUhkZY/gcNjJ3R55+Y5Xmi+lmAkTs=
AllowedIPs = 0.0.0.0/0,2000::/3
Endpoint = 185.234.100.221:7230
PersistentKeepalive = 25